@import url('https://fonts.googleapis.com/css?family=Spicy+Rice');


/* Down below is css to reset predefined values, a CSS reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

/* End of CSS reset */


/* General style section (mobile) */
html {
    font-family: Arial, 'Times New Roman';
}

body {
	background-color: #fff;
   /* background-image: url('../img/background.png');
	position: fixed;*/
	width: 100%;
}

.main {
	width: 100%;
	margin: auto;

	text-align: center;

}

.main > * {
	width: 100%;
	margin: 0.2rem auto;
}

/* Header style section (mobile) */
header {
	background-image: url('../img/companylogoBG.png');
	background-size: cover;
	height: 5rem;
	line-height: 5rem;
}

h1 {
	font-family: 'Spicy Rice', cursive;
	font-size: 2rem;
	-webkit-text-stroke: 1px #000;
	-webkit-text-fill-color: #fff;
	color: white;
}

/* Navigation (+hamburger) style section (mobile) */
nav {
	background-color: #707070;
}

.hamburger {
	display: block;
	position: relative;
	padding: 0.4rem;
	
	z-index: 1;
}

.hamburger input {
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: -7px;
	left: -5px;
	
	opacity: 0; 
	z-index: 2; 
}

.hamburger span {
	display: block;
	width: 33px;
	height: 8px;
	margin-bottom: 0.2rem;
	position: relative;
	
	background: #fff;
	
	z-index: 1;
}


.hamburger input:checked ~ span {
	opacity: 1;
	background: #232323;
}


.menu
{
	position: static;
	
	display: none;
}

.menu li
{
  font-size: 1.5em;
}

.hamburger input:checked ~ .menu
{
  display: inline;
}

/* General content style section (mobile) */
h3 {
	padding: 0.5rem 5rem;
	background-color: #2699FB;
	height: 3.5rem;
	line-height: 1.7rem;
	font-size: 1.5rem;
	color: #fff;
	text-transform: uppercase;
}
 .content > h3:first-child {
	padding: 0.5rem 3rem;
 }
/* Index page content */
.index-img1 {
	 background-image: url('../img/product3.png');
 }

 .index-img2 {
	background-image: url('../img/product8.png');
}

.index-img3 {
	background-image: url('../img/product6.png');
}

.index-img4 {
	background-image: url('../img/product9.png');
}

.content figure {
	background-size: cover;
	width:  20rem;
	height: 10rem;
	margin: 0.2rem 0;
 }



/* Product page content */


/* Contact page content */



/* Footer style section (mobile) */

